<head>
  <meta http-equiv="refresh" content="300" />
</head>

<link href='//fonts.googleapis.com/css?family=Roboto:400,300,100,700' rel='stylesheet' type='text/css'>

<%= render 'header', weather: @status_board.header.weather_component,
                     github: @status_board.header.github_component %>

<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
  <%= render 'indicators' %>
  <div class="carousel-inner" role="listbox">
    <% @status_board.pages.each_with_index do |page, index| %>
      <div class="item<%= ' active' if index == 0 %>">
        <%= render page.partial, page: page %>
      </div>
    <% end %>
  </div>
</div>
