<% if room_1.occupied? %>
  <div class="red-circle"></div>
<% else %>
  <div class="green-circle"></div>
<% end %>

<% if room_2.occupied? %>
  <div class="red-circle"></div>
<% else %>
  <div class="green-circle"></div>
<% end %>
