# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

shared_config: &shared_config
  twitter_consumer_key: <%= ENV["TWITTER_CONSUMER_KEY"] %>
  twitter_consumer_secret: <%= ENV["TWITTER_CONSUMER_SECRET"] %>
  twitter_access_token: <%= ENV["TWITTER_ACCESS_TOKEN"] %>
  twitter_access_token_secret: <%= ENV["TWITTER_ACCESS_TOKEN_SECRET"] %>
  github_oauth: <%= ENV["GITHUB_OAUTH"] %>
  photo_consumer_key: <%= ENV["PHOTO_CONSUMER_KEY"] %>
  photo_consumer_secret: <%= ENV["PHOTO_CONSUMER_SECRET"] %>
  photo_access_token: <%= ENV["PHOTO_ACCESS_TOKEN"] %>
  photo_access_token_secret: <%= ENV["PHOTO_ACCESS_TOKEN_SECRET"] %>
  lita_token: <%= ENV["LITA_TOKEN"] %>
  basic_auth:
    whitelist_ips: <%= ENV["WHITELIST_IPS"] %>
    name: <%= ENV["BASIC_AUTH_NAME"] %>
    pass: <%= ENV["BASIC_AUTH_PASS"] %>
  github_org: <%= ENV["GITHUB_ORG"] %>
  github_user: <%= ENV["GITHUB_USER"] %>
  weather_woeid: <%= ENV["WEATHER_WOEID"] %>
  pivotal_project_ids: <%= ENV["PIVOTAL_PROJECT_IDS"] %>
  pivotal_token: <%= ENV["PIVOTAL_TOKEN"] %>

development:
  secret_key_base: 07e058bd65a042f7669fe8a2323c08d5032af37963f6a7c61ea6d9c43e7b5563304b7134d4df512ae186db7133c4ee7ea25f9dbe40f335af00cb6545355433bc
  <<: *shared_config

test:
  secret_key_base: 99689f18eca4251d337f9309b8bff7ecf600eeb44eb2d3256700916c02b7c517a6fe2f71eeb155d50c8d3e562b591ac6e63b1d7cb087991be269c0516cfb027d
  twitter_consumer_key: "ABCDEF"
  twitter_consumer_secret: "ABCDEF"
  twitter_access_token: "ABCDEF"
  twitter_access_token_secret: "ABCDEF"

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  <<: *shared_config
