// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@font-face {
    font-family: "Nexa Bold";
    src: font-url("Nexa-Bold.otf") format("truetype");
}


$light-grey:     #909090;
$github-green:   #CEF13B;
$fouraker-grey:  #444444;
$light-blue:     #41B2F6;
$dark-blue:      #2183EB;
$bootstrap-pink: #EFD6D6;

$small-pad: 10px;
$small-text: .8em;
$padding-under-title: 20px;
$side-margins: 3%;
$panel-width: 20%;
$panel-height: 900px;


body {
  background-color: black;
  font-family: "Roboto";
  font-weight: 300;
}

h1 {
  color:white;
}

h2 {
  color:white;
}

h3 {
  color: white;
}

.panel-default {
  border: 0px;
}

.panel-default > .panel-heading-custom {
  height: 80px;
  background-color: $light-blue;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .panel-title {
    padding-top: 27px;
    padding-left: 20px;
    font-size: 2.5em;
    font-family: "Nexa Bold";
    letter-spacing: 5px;
  }
}

.chart {
  padding-left: $side-margins;
  padding-top: $padding-under-title;
  width: 97%;
  height: 37%;
  .highcharts-title {
   font-size: 2em !important;
  }
  .highcharts-legend {
    text {
     font-size: 2em !important;
     text-transform: capitalize !important;
    }
  }
}

#page-title {
  padding-left: $side-margins - 0.25%;
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 4em;
}

#carousel {
  height: 92vh;
}

.carousel-indicators {
  top: -40px;

  li {
    background-color: $light-grey;
  }

  li, .active {
    margin-left: 20px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    border-style: none;
  }

  .active {
    background-color: $light-blue;
    margin-bottom: 1px;
    margin-right: 1px;
  }
}

#twitter {
  width: 48%;
  padding-left: $side-margins;
  padding-top: $padding-under-title;
  float: left;

  #feed {
    padding: 20px;
    margin: $small-pad;
    font-size: 2.5em;

    img {
      width:125px;
    }

    .media-heading {
      font-size: 1em;
    }
  }
}

#user_name {
  font-weight: bold;
  padding-left: 5px;
}

#title {
  text-align:center;
  color: white;
}

#subtitle {
  text-align:center;
  color: white;
}

#repo {
  font-weight:bold;
}

#photo-frame {
  width: 30%;
  padding-left: 30px;
  padding-top: 40px;
  float: left;

  img{
    width:100%;
    max-width:600px;
  }
}

#weather {
  width: 48%;
  padding-right: $side-margins;
  padding-top: $padding-under-title;
  float: right;

  .forecast {
    width: 125px;
    margin-left: 7%;
    margin-right: 1%;
    margin-top: 20px;
    clear: both;
    background-color: $light-blue;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 2em;

    .wi {
      padding-bottom: 30px;
    }
  }

  #five-day-forecast {
    clear: both;
    margin: 0 auto;
  }

  #pic-desc {
    float: left;
    padding-left: 80px;
    padding-right: 20px;
    font-size: 3em;

    p {
      text-align: center;
      padding-top: 30px;
    }

    .wi {
      padding-top: 40px;
    }
  }

  #temps {
    padding: 30px 80px 0px 20px;
    font-size: 3em;

    p {
      text-align: right;
    }
  }
}

#graph {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
}

#git {
  float: left;
  width: 48.5%;
  padding-left: $side-margins;
  padding-top: $padding-under-title;

  .table {
    font-size: 1.55em;

    tbody > tr {
      height: 80px;
    }

    td {
      vertical-align: middle;
    }
  }
}

#header {

  font-family: "Roboto";
  font-weight: 300;
  font-size: 2em;

  .row {
    width: 100%;
  }

  #colorstrip {
    width: 100%;
    height: 60px;
    background-color: $fouraker-grey;
  }

  #logo {
    padding: $small-pad $small-pad $small-pad $side-margins;
  }

  #github-header {
    color: $github-green;
    padding-top: 12px;

    #thumb-icon {
      max-height: 35px;
      padding-bottom: 5px;
    }
  }

  #need-thumbs {
    color: $light-grey;
    padding-top: $small-pad;
    font-size: $small-text;
  }

  #header-time {
    display: inline-block;
    color: white;
    padding-top: 15px;
    font-size: $small-text;
    letter-spacing: 1px;
  }

  #header-date {
    display: inline-block;
    color: $light-grey;
    padding-top: $small-pad;
    font-size: $small-text;
  }

  #header-weather-image {
    padding-top: 15px;
    padding-left: 20px;
    color: white;
  }

  #header-temp {
    display: inline-block;
    color: white;
    padding-top: 15px;
    font-size: $small-text;
  }

  #header-weather-desc {
    display: inline-block;
    color: $light-grey;
    padding-top: 15px;
    font-size: $small-text;
  }

  #time-weather {
    float: right;
    padding-right: $side-margins;
  }
}

#project-overview {
  background-color: $fouraker-grey;
  color: white;
  margin-left: $side-margins;
  margin-top: 100px;
  width: 94%;
  height: 500px;
  font-size: 1.7em;
  font-family: "Roboto";
  font-weight: 300;

  thead {
    background-color: black;
  }

  small {
    font-size: 0.7em;
  }

  td {
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  tr {
    height: 110px;
  }

  th {
    padding-bottom: 15px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;

    .header-wrapper {
      display: inline-block;
      text-align: center;
    }
  }

  tbody > tr:nth-child(odd) > td {
    background-color: #565656;
  }

  .project-name {
    font-weight: bold;
    padding-left: 50px;
    letter-spacing: 5px;
    text-align: left;
  }

  .cycle-time {
    text-align: left;
  }

  .approved-pr-count, .unapproved-pr-count {
    padding-left: $small-pad;
    padding-right: $small-pad;
  }

  .approved-pr-count {
    color: $github-green;
  }
  .unapproved-pr-count {
    color: $bootstrap-pink;
    font-weight: bold;
  }

  #cycle-time-header {
    img {
      padding-left: 60px;
    }
    text-align: left;
  }
}

#open-stories-table{
  background-color: $fouraker-grey;
  color: white;
  margin-left: 60px;
  margin-top: 10px;
  width: 94%;
  height: 50%;
  font-size: 1.7em;
  font-family: "Roboto";
  font-weight: 300;

  thead {
    background-color: black;
  }

  small {
    font-size: 0.7em;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  tr {
    height: 70px;
  }

  th {
    padding-bottom: 15px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;

    .header-wrapper {
      display: inline-block;
      text-align: center;
    }
  }

  .fa-star {
    color: $github-green;
  }

  tbody > tr:nth-child(odd) > td {
    background-color: #565656;
  }

  .story-name {
    padding-left: 50px;
    text-align: left;
    width: 50%;
    a {
        color: white;
    }
  }

  .cycle-time {
    text-align: left;
  }

  #cycle-time-header {
    img {
      padding-left: 60px;
    }
    text-align: left;
  }
}
